*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.knit.md
*.log
*.maf
*.mst
*.mtc
*.mtc0
*.rds
*.tbc
*.toc
*.utf8.md
*~
.DS_Store
.Rhistory
.Rproj.user
.pytest_cache
.~lock.*
__pycache__
_bookdown_files
_minted-book
advanced.md
appendix.md
basics.md
book.out
book.pdf
debt.md
figures/main
index.md
keypoints.md
main.*
nse.md
objectives.md
package.md
practice.md
references.md
rmarkdown.md
testerror.md
tidyverse.md
original/figures
original/fonts
